anyio
asttokens
backcall
certifi
charset-normalizer
click
colorama
comm=
contourpy
cycler
debugpy
decorator
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio=
numpy
packaging
pand
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil=
pure-eval
pydantic
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
wcwidth